<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMH_q-nIqwzKWqSU3Y6yxFtLhj6aCaJ-c</string>
	<key>GCM_SENDER_ID</key>
	<string>260402306366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alecmorrison.Roomi</string>
	<key>PROJECT_ID</key>
	<string>roomifirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>roomifirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260402306366:ios:1e561b38aa96cd324b206f</string>
</dict>
</plist>